<!DOCTYPE HTML>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data.css') }}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<nav class="topnav">
		<a id="home" class="active" href="{{url_for('home_page', name=session['name'])}}"
		  >Home</a
		>
		<!-- <a href="{{url_for('active_check', name=session['name'])}}">Documents</a> -->
	
		<a id="completed" href="{{url_for('labeled_list', name=session['name'])}}"> Completed </a>
		
		<!-- <a  hrf="{{url_for('finish')}}"> Finish</a> -->
		
		<a id="demo" href="#">Demo</a>
		<div class="logout">
		  <label id="minutes">00</label>
		  <label id="colon">:</label>
		  <label id="seconds">00</label>
		  <label id="secs" hidden>00</label>
		</div>
  
		
  
  
		<a id="finish" class="logout" href="{{url_for ('finish')}}"> Finish</a>
	  </nav>
	 
</body>

</html>
