<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
  </head>
  <body>



    <div class="accordion">
        <h2>Accordion Group 1</h2>
        <div class="accordion-item">
          <div class="accordion-item-header">
            HUMBER RADIO
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <ul>
                <li><a href="">RADIO NEWS</a></li>
                <li><a href="">PODCAST</a></li>
                <li><a href="">CONTENT</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            TV NEWS
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <ul>
                <li><a href="">COVID UPDATES</a></li>
                <li><a href="">NORTH CAMPUS NEWS</a></li>
                <li><a href="">LAKESHORE CAMPUS NEWS</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="accordion">
        <h2>Accordion Group 1</h2>
        <div class="accordion-item">
          <div class="accordion-item-header">
            JJJ RADIO
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <ul>
                <li><a href="">RADIO NEWS</a></li>
                <li><a href="">PODCAST</a></li>
                <li><a href="">CONTENT</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Radio NEWS
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <ul>
                <li><a href="">COVID UPDATES</a></li>
                <li><a href="">NORTH CAMPUS NEWS</a></li>
                <li><a href="">LAKESHORE CAMPUS NEWS</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      





     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src = "..//static/interrr.js"></script>
     <!-- <script src = "..//static/inter.js"></script> -->
   </body>
 </html>
 